<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Add grade</title>
</head>
<body>

<h2>Add grade</h2>

<div>
    <label class="error" th:text="${error}">Message</label>
</div>

<!--<a th:href="@{'/admin/user?username=' + ${user.username}}" class="btn btn-primary">View Details</a>-->
<form action="#" th:action="@{'/student/grade?studentId=' + ${studentId}}" th:object="${studentProgramCourseDto}" method="post">

    <label>Courses:</label>
    <select th:field="*{programCourseName}">
        <option th:each="course : ${courses}"
                th:value="${course.name}"
                th:text="${course.getName()}">Course
        </option>
    </select>
    <br/><br/>

    <label>Grade:</label>
    <br/>
    <select th:field="*{grade}">
        <option th:value="6">Excellent</option>
        <option th:value="5">Very Good</option>
        <option th:value="4">Good</option>
        <option th:value="3">Fair</option>
        <option th:value="2">Poor</option>
    </select>
    <br/><br/>

    <input type="submit" value="Submit"/>
</form>


</body>
</html>