<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<h3>
    <a th:href="@{/admin/users/enabled}" sec:authorize="hasRole('ROLE_ADMIN')">Enabled Users</a>
    <br/>
    <a th:href="@{/admin/users/disabled}" sec:authorize="hasRole('ROLE_ADMIN')">Disabled Users</a>
    <br/>
    <a th:href="@{/student/all}" sec:authorize="hasRole('ROLE_ADMIN')">All Students</a>
    <br/>
    <a th:href="@{/admin/companies}" sec:authorize="hasRole('ROLE_ADMIN')">All Companies</a>
    <br/>
    <a th:href="@{/student/new}" sec:authorize="hasRole('ROLE_ADMIN')">Create Student</a>
</h3>
</body>
</html>