<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Company Information:</title>
</head>
<body>

<h3>
    <a href="#" th:href="@{/}">Home</a>
    <br/>
    <a href="#" th:href="@{/admin}">Admin Portal</a>
</h3>

<div>
    <h2 th:text="#{company.details}">Company Details:</h2>

    <div class="table">
        <div th:if="${company.logo == null || company.logo.isEmpty()}">
            <img th:src="@{/pic/user-profile-avatar.png}">
        </div>
        <div th:unless="${company.logo == null || company.logo.isEmpty()}">
            <img th:src="@{'/company/' + ${company.id} + '/image'}">
        </div>

        <div class="cell" th:text="#{companies.name}">Company Name:</div>
        <div class="cell" th:text="${company.name}">Company Name</div>
        <br/>
        <div class="cell" th:text="#{companies.code}">Company Code:</div>
        <div class="cell" th:text="${company.code}">Company Code</div>
        <br/>
        <div class="cell" th:text="#{companies.email}">Email:</div>
        <div class="cell" th:text="${company.email}">Email</div>
        <br/>
        <div class="cell" th:text="#{companies.phone}">Company Phone:</div>
        <div class="cell" th:text="${company.phone}">Company Phone</div>
        <br/>
        <div class="cell" th:text="#{companies.fax}">Company Fax:</div>
        <div class="cell" th:text="${company.fax}">Company Fax</div>
        <br/>
        <div class="cell" th:text="#{companies.business.field}">Company Business Field:</div>
        <div class="cell" th:text="${company.businessField.businessField}">Company Business Field</div>
    </div>
</div>

<form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>