<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>All Companies</title>
</head>
<body>

<h3>
    <a href="#" th:href="@{/}">Home</a>
    <br/>
    <a href="#" th:href="@{/admin}">Admin Portal</a>
</h3>

<div th:if="${companies.isEmpty()}">
    <h2 th:text="#{companies.emptytitle}">No Companies</h2>
</div>
<div th:unless="${companies.isEmpty()}">
    <h2 th:text="#{companies.title}">Companies:</h2>

    <div class="table">
        <div class="header">
            <div class="cell" th:text="#{companies.name}">Company:</div>
        </div>
        <br/>
        <div class="row" th:each="company : ${companies}">
            <a th:href="@{'/company?companyId=' + ${company.id}}" th:text="${company.name}">Company Name</a>
        </div>
    </div>
</div>

<form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
    <input type="submit" value="Logout"/>
</form>


</body>
</html>