<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Student</title>
</head>
<body>

<h2>Register Student</h2>

<div>
    <label class="error" th:text="${error}">Message</label>
</div>

<form action="#" th:action="@{/student/new}" th:object="${studentDto}" method="post" , enctype="multipart/form-data">
    <label>First Name:</label>
    <br/>
    <input type="text" th:field="*{firstName}" class="form-control"
           minlength="3"
           maxlength="20"
           required/>
    <br/>
    <label>Middle Name:</label>
    <br/>
    <input type="text" th:field="*{middleName}" class="form-control"
           minlength="3"
           maxlength="20"
           required/>
    <br/>
    <label>Last Name:</label>
    <br/>
    <input type="text" th:field="*{lastName}" class="form-control"
           minlength="3"
           maxlength="20"
           required/>
    <br/>
    <label>Student number:</label>
    <br/>
    <input type="text" th:field="*{studentNumber}" class="form-control" required/>
    <br/>
    <label>Email:</label>
    <br/>
    <input type="text" th:field="*{email}" class="form-control"
           pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,6}$"
           required/>
    <br/>
    <label>Phone number:</label>
    <br/>
    <input type="text" th:field="*{phoneNumber}" class="form-control" required/>
    <br/>
    <br/>
    <label>Semester:</label>
    <br/>
<!--    <input type="text" th:field="*{semester}" class="form-control"-->
<!--           min="1"-->
<!--           max="8"-->
<!--           required/>-->
<!--    <br/><br/>-->

    <select th:field="*{semester}">
        <option th:value="5">8 semester</option>
        <option th:value="5">7 semester</option>
        <option th:value="5">6 semester</option>
        <option th:value="5">5 semester</option>
        <option th:value="4">4 semester</option>
        <option th:value="3">3 semester</option>
        <option th:value="2">2 semester</option>
        <option th:value="1">1 semester</option>
    </select>
    <br/><br/>



    <label>Country:</label>
    <select th:field="*{country}">
        <option th:each="country : ${countries}"
                th:value="${country.name}"
                th:text="${country.getName()}">Country
        </option>
    </select>
    <br/><br/>
    <label>Address:</label>
    <br/><br/>
    <input type="text" th:field="*{address}" class="form-control" placeholder="city, street, number etc" required/>
    <br/><br/>
    <label>Program:</label>
    <select th:field="*{program}">
        <option th:each="program : ${programs}"
                th:value="${program.name}"
                th:text="${program.getName()}">Program
        </option>
    </select>
    <br/><br/>
    <label>Work Status:</label>
    <select th:field="*{workStatus}">
        <option th:each="workStatus : ${worksStatus}"
                th:value="${workStatus.workStatusName}"
                th:text="${workStatus.getWorkStatusName()}">Work Status
        </option>
    </select>
    <br/><br/>
    <label>Choose profile picture:</label>
    <br/>
    <input type="file" accept="image/png, image/jpeg" th:field="*{profilePicture}" class="form-control" required/>
    <br/>
    <label>Choose CV:</label>
    <br/>
    <input type="file" accept="application/pdf" th:field="*{CV}" class="form-control" required/>
    <br/><br/>

    <input type="submit" value="Submit"/>
</form>

</body>
</html>