<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}" href="../static/styles.css"/>
    <title>Error</title>
</head>
<body>

<h3>
    <a href="#" th:href="@{/}">Home</a>
</h3>
<div>
    <label class="error" th:text="${error}">Message</label>
</div>

</body>
</html>
