<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h2 th:text="#{home.welcome}">Hello VFU (design)!</h2>

<h3>
    <a th:href="@{/student/workless}">Show Students</a>
    <br/>
    <a th:href="@{/admin}" sec:authorize="hasAuthority('ROLE_ADMIN')">Admin Portal</a>
    <br/>
<!--    <li sec:authorize="isAuthenticated()">-->
<!--        <form th:action="@{'/user?username?' + ${principal.getUsername()}}" method="get">-->
<!--            <input type="submit" value="My Profile"/>-->
<!--        </form>-->
<!--    </li>-->

</h3>

<p sec:authorize="isAuthenticated()">
    User:<span sec:authentication="name"/>
    <br/>
    Role(s):<span sec:authentication="principal.authorities"/>
</p>

<form th:action="@{/register/user}" sec:authorize="!isAuthenticated()" method="get">
    <input type="submit" value="Register User"/>
</form>

<form th:action="@{/register/company}" sec:authorize="!isAuthenticated()" method="get">
    <input type="submit" value="Register Company"/>
</form>

<form th:action="@{/login}" sec:authorize="!isAuthenticated()" method="get">
    <input type="submit" value="Login"/>
</form>

<form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>