<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>
    <a href="#" th:href="@{/}">Home</a>
</h3>

<h2>Login Page</h2>
<p>
    <i th:if="${param.error}" class="error">Wrong username or password.</i>
</p>
<p>
    <i th:if="${param.logout}">You have been logged out.</i>
</p>
<form th:action="@{/authenticate}" method="post">
    <label>Username:</label>
    <br/>
    <input type="text" id="username" name="username"/>
    <br/>
    <label>Password:</label>
    <br/>
    <input type="password" id="password" name="password"/>
    <br/><br/>
    <input type="submit" value="Login"/>
</form>
<h3>
    <form th:action="@{/register/user}" sec:authorize="!isAuthenticated()" method="get">
        <input type="submit" value="Register User"/>
    </form>

    <form th:action="@{/register/company}" sec:authorize="!isAuthenticated()" method="get">
        <input type="submit" value="Register Company"/>
    </form>
</h3>

</body>
</html>