<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h2>Registration form</h2>
<div>
    <label class="error" th:text="${error}">Message</label>
</div>
<form action="#" th:action="@{/register/company}" th:object="${companyDto}" method="post" , enctype="multipart/form-data">
    <label>Company Code:</label>
    <br/>
    <input type="text" th:field="*{companyCode}" class="form-control"
           minlength="10"
           maxlength="10"
           required/>
    <br/>
    <label>Company Name:</label>
    <br/>
    <input type="text" th:field="*{companyName}" class="form-control"
           minlength="1"
           maxlength="50"
           required/>
    <br/>
    <label>Company Email:</label>
    <br/>
    <input type="email" th:field="*{companyEmail}" class="form-control"
           pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,6}$"
           required/>
    <br/>
    <label>Company Phone:</label>
    <br/>
    <input type="text" th:field="*{companyPhone}" class="form-control"
           pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$"
           required/>
    <br/>
    <label>Company Fax:</label>
    <br/>
    <input type="text" th:field="*{companyFax}" class="form-control"
           pattern="^(\+?\d{1,}(\s?|\-?)\d*(\s?|\-?)\(?\d{2,}\)?(\s?|\-?)\d{3,}\s?\d{3,})$"
           required/>
    <br/>
    <label>Business Field:</label>
    <select th:field="*{bussinessField}">
        <option th:each="businessField : ${businessFields}"
                th:value="${businessField.businessField}"
                th:text="${businessField.getBusinessField()}">Business Field
        </option>
    </select>
    <br/><br/>
    <label>Country:</label>
    <select th:field="*{country}">
        <option th:each="country : ${countries}"
                th:value="${country.name}"
                th:text="${country.getName()}">Country
        </option>
    </select>
    <br/><br/>
    <label>Company Address:</label>
    <br/>
    <input type="text" th:field="*{address}" class="form-control" placeholder="city, street, number etc" required/>
    <br/>
    <label>Choose picture:</label>
    <br/>
    <input type="file" th:field="*{companyLogo}" name="imagefile" class="form-control"
           required/>
    <br/><br/>
    <input type="submit" value="Register"/>
</form>
</body>
</html>