<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h2>Registration form</h2>
<div>
    <label class="error" th:text="${error}">Message</label>
</div>
<form action="#" th:action="@{/register/user}" th:object="${userDto}" method="post">
    <label>Username:</label>
    <br/>
    <input type="text" th:field="*{username}" class="form-control"
           minlength="3"
           maxlength="50"
           required/>
    <br/>
    <label>Password:</label>
    <br/>
    <input type="password" th:field="*{password}" class="form-control"
           minlength="6"
           maxlength="68"
           pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$"
           required/>
    <br/>
    <label>Retype Password:</label>
    <br/>
    <input type="password" th:field="*{retypePassword}" class="form-control"
           minlength="6"
           maxlength="68"
           pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$"
           required/>
    <br/>
    <label>First Name:</label>
    <br/>
    <input type="text" th:field="*{firstName}" class="form-control"
           minlength="3"
           maxlength="20"
           required/>
    <br/>
    <label>Last Name:</label>
    <br/>
    <input type="text" th:field="*{lastName}" class="form-control"
           minlength="3"
           maxlength="20"
           required/>
    <br/>
    <label>Email:</label>
    <br/>
    <input type="email" th:field="*{email}" class="form-control"
           pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,6}$"
           required/>
    <br/>
    <label>Company:</label>
    <select th:field="*{companyName}">
        <option th:each="company : ${companies}"
                th:value="${company.name}"
                th:text="${company.getName()}">Company
        </option>
    </select>
    <br/><br/>
    <input type="submit" value="Register"/>
</form>
<h3>
    <a th:href="@{/login}">Login</a>
</h3>
</body>
</html>