<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Student Details</title>
</head>
<body>

<h3>
    <a href="#" th:href="@{/}">Home</a>
    <br/>
    <a href="#" th:href="@{/admin}">Admin Portal</a>
</h3>

<div>
    <h2 th:text="#{student.details}">Student Details:</h2>

    <div class="table">

        <div th:if="${student.profilePicture == null || student.profilePicture.isEmpty()}">
            <img th:src="@{/pic/user-profile-avatar.png}">
        </div>
        <div th:unless="${student.profilePicture == null || student.profilePicture.isEmpty()}">
            <img th:src="@{'/student/' + ${student.id} + '/image'}">
        </div>


        <div class="cell" th:text="#{first.name}">First Name:</div>
        <div class="cell" th:text="${student.firstName}">First Name</div>
        <br/>
        <div class="cell" th:text="#{middle.name}">Middle Name:</div>
        <div class="cell" th:text="${student.middleName}">Middle Name</div>
        <br/>
        <div class="cell" th:text="#{last.name}">Last Name:</div>
        <div class="cell" th:text="${student.lastName}">Last Name</div>
        <br/>
        <div class="cell" th:text="#{country.name}">Country:</div>
        <div class="cell" th:text="${student.address.country.name}">Country</div>
        <br/>
        <div class="cell" th:text="#{address}">Address:</div>
        <div class="cell" th:text="${student.address.address}">Address</div>
        <br/>
        <div class="cell" th:text="#{email}">Email:</div>
        <div class="cell" th:text="${student.email}">Email</div>
        <br/>
        <div class="cell" th:text="#{phone.number}">>Phone number:</div>
        <div class="cell" th:text="${student.phoneNumber}">Phone number</div>
        <br/>
        <div class="cell" th:text="#{program}">Program:</div>
        <div class="cell" th:text="${student.program.name}">Program</div>
        <br/>
        <div class="cell" th:text="#{semester}">Semester:</div>
        <div class="cell" th:text="${student.semester}">Semester</div>
        <br/>
        <div class="cell" th:text="#{work.status}">Work Status:</div>
        <div class="cell" th:text="${student.workStatus.workStatusName}">WorkStatus</div>
        <br/>
        <a th:href="@{${student.downloadLink}}">Download CV</a>
        <br/>
    </div>
</div>

<form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
    <input type="submit" value="Logout"/>
</form>


</body>
</html>