<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
</head>
<body>

<h2>Update user information</h2>
<div>
    <label class="error" th:text="${error}">Message</label>
</div>
<form action="#" th:action="@{/user/update}" th:object="${userDetailsDto}" method="post">
    <label>First Name:</label>
    <br/>
    <input type="text" th:field="*{firstName}" class="form-control"
           minlength="3"
           maxlength="20"
           required/>
    <br/>
    <label>Last Name:</label>
    <br/>
    <input type="text" th:field="*{lastName}" class="form-control"
           minlength="3"
           maxlength="20"
           required/>
    <br/>
    <label>Email:</label>
    <br/>
    <input type="email" th:field="*{email}" class="form-control"
           pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,6}$"
           required/>
    <br/><br/>
    <input type="submit" value="Submit"/>
</form>
<h3>
    <a th:href="@{/login}">Login</a>
</h3>

</body>
</html>