<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User Information</title>
</head>
<body>
<h3>
    <a href="#" th:href="@{/}">Home</a>
    <br/>
    <a href="#" th:href="@{/admin}">Admin Portal</a>
    <br/>
    <a href="#" th:href="@{/user/update}">Update User Information</a>
    <br/>
    <a href="#" th:href="@{/user/password}">Change your password</a>
</h3>

<div>
    <h2 th:text="#{users.details}">User Details:</h2>

    <div class="table">
        <div class="cell" th:text="#{users.username}">Username:</div>
        <div class="cell" th:text="${user.username}">Username</div>
        <br/>
        <div class="cell" th:text="#{users.enabled}">Enabled:</div>
        <div class="cell" th:text="${user.enabled}">Enabled</div>
        <br/>
        <div class="cell" th:text="#{first.name}">First Name:</div>
        <div class="cell" th:text="${user.userDetails.firstName}">First Name</div>
        <br/>
        <div class="cell" th:text="#{last.name}">Last Name:</div>
        <div class="cell" th:text="${user.userDetails.lastName}">Last Name</div>
        <br/>
        <div class="cell" th:text="#{email}">Email:</div>
        <div class="cell" th:text="${user.userDetails.email}">Email</div>
        <br/>
        <div class="cell" th:text="#{companies.name}">Company Name:</div>
        <div class="cell" th:text="${user.company.name}">Company Name</div>
    </div>
</div>

<form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>