<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>

<h3>
    <a href="#" th:href="@{/}">Home</a>
    <br/>
    <a href="#" th:href="@{/admin}">Admin Portal</a>
</h3>

<div th:if="${users.isEmpty()}">
    <h2 th:text="#{users.emptytitle}">No Users</h2>
</div>
<div th:unless="${users.isEmpty()}">
    <h2 th:text="#{users.title}">Users:</h2>

    <div class="table">
        <div class="header">
            <div class="cell" th:text="#{users.username}">Username:</div>
        </div>
        <br/>
        <div class="row" th:each="user : ${users}">
            <!--            <div class="cell" th:text="${user.username}">Username</div>-->
            <!--            <a th:href="@{'/admin/user?username=' + ${user.username}}" class="btn btn-primary">View Details</a>-->
            <a th:href="@{'/user?username=' + ${user.username}}" th:text="${user.username}">Username</a>
        </div>
    </div>
</div>

<form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>