<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Workless Students</title>
</head>
<body>

<h3>
    <a href="#" th:href="@{/}">Home</a>
    <br/>
    <a href="#" th:href="@{/admin}">Admin Portal</a>
</h3>

<div th:if="${worksStatus.isEmpty()}">
    <h2 th:text="#{students.emptytitle}">No Students</h2>
</div>
<div th:unless="${worklessStudents.isEmpty()}">
    <h2 th:text="#{students.title}">Students:</h2>

    <div class="table">
        <div class="header">
            <div class="cell" th:text="#{first.name}">First Name:</div>
        </div>
        <br/>
        <div class="row" th:each="student : ${worklessStudents}">
<!--                        <div class="cell" th:text="${student.firstName}">First Name</div>-->
            <!--            <a th:href="@{'/admin/user?username=' + ${user.username}}" class="btn btn-primary">View Details</a>-->
            <a th:href="@{'/student?id=' + ${student.id}}" th:text="${student.firstName}">First Name</a>
        </div>
    </div>
</div>

<form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>